@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: #7a0144;
  border: 1px solid #7a0144;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  color: white;

  width: 160px;
  height: 50px;

  display: grid;
  place-content: center;

  font-size: 16px;
}

button:hover,
button:active {
  background-color: #9c095a;
  border-color: #9c095a;
}

@media screen and (max-width: 940px) and (min-width: 320px) {
  button {
    width: 30vw;
    height: 13vw;
    font-size: 3.5vw;
    padding: 0;
  }
}