.headContainer {
  width: 500px;
  height: 120px;

  display: grid;
  place-content: center;
  max-width: 40rem;
  margin: 2rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 940px) and (min-width: 320px) {
  .headContainer {
    height: 30vw;

    width: 90vw;
    margin: 2vw auto;
  }
}
