.wrapper {
  width: 1150px;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

@media screen and (max-width: 940px) and (min-width: 320px) {
  .wrapper {
    flex-direction: column;

    width: 90vw;
  }
}
